header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background-color: white ;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	height: 700px;
	margin: 10%;
}

html {
	background-image: url("../imgs/ptrbackground.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

header {
	background-image: url("../imgs/sunset.jpg");
	background-repeat: no-repeat;
	background-position: right;
	background-color: #000032;
	color: white;
	height: 10%;
}

nav {
	float: left;
	height: 643px;
	margin-right: 5%;
	background-color: LightSkyBlue;
	
}

/* cant figure out how to wrap around that image */
/* #content img {float: left;}*/

#content ul{
	list-style-image: url("../imgs/marker.gif");
	padding-left: 50px;
}
#content p span {
	color: DeepSkyBlue;
	font-weight: bold;
	display: block;
}

#content #contact span {
	color: DeepSkyBlue;
	font-weight: bold;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}

h1 {
	margin-bottom: 0;
	padding: 10px;
}

h2 {
	font-family: Georgia, "Times New Roman", serif;
	color: #3399CC;
}
#contact {
	font-size: 90%;
}

#wrapper nav {
	width: 200px;
}

#wrapper nav ul {
	width: inherit;
	list-style: none;
	font-weight: bold;
}

#wrapper li {
}

#wrapper li a{
	text-decoration: none;
	color: #000032;
	font-style: bold;
}
#wrapper #content {
	margin-left: 200px;
}

#wrapper #content ul {
	list-style-image: url("../imgs/marker.gif");
	padding-left: 80px;
}
#wrapper #content img {
	float: left;
	padding-right: 30px;
}

footer {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	font-size: 80%;
	float: bottom;
}



